<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="min-height: 50px; 
background-color: rgba(110, 177, 138, 0.753);
display: flex;
align-items: center;
flex-wrap:wrap;
">
    <div style="margin-left: 10px;">
        TÀI LIỆU SINH VIÊN
    </div>

    <div style="margin-left: 25px;">
        <input style="width: 200px;" type="text" placeholder="Nhập từ khóa liên quan tài liệu">
        <button>Tìm kiếm</button>
    </div>


    <div style="margin-left: auto; margin-right: 10px;">
        <div style="border-radius: 50%; background-color: white; width: 40px; height: 40px; display: flex;
        align-items: center;
        justify-content:center ;">
            NT
        </div>
    </div>

    <div style="cursor: pointer; color: rgb(93, 133, 98);margin-right: 10px; ">
        Tài khoản
    </div>








</div>