<!doctype html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>

    <div id="header">

    </div>

    <div id="body">

        <div>
            A B C D  <%= user %>
        </div>

    </div>

    <script>
         $("#header").load("/components/header.html");
    </script>

    <script>
        $(document).ready(() => {
            $("#header").load("/components/header.html");
        });
    </script>

</body>

</html>